@using StudentManagement
@model StudentManagement.ViewModels.CourseViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center my-4">Xóa lớp học</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <h3 class="text-danger">Bạn có muốn xóa lớp @Html.DisplayFor(model => model.CourseName)?</h3>
        <div>
            <h4>Thông tin lớp học</h4>
            <hr />

            <dl class="row">
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.CourseID)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CourseID)
                </dd>

                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.CourseName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CourseName)
                </dd>

                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Teacher)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Teacher)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="form-group d-flex justify-content-between">
                    <input type="submit" value="Xóa" class="btn btn-danger btn-lg" />
                    <a asp-action="Index" class="btn btn-secondary btn-lg">Trở lại</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
