@using StudentManagement.ViewModels
@model PaginatedList<StudentViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center my-4">Danh sách sinh viên</h1>

<div class="d-flex justify-content-between mb-3">
    <a asp-action="Create" class="btn btn-primary">Thêm mới</a>
    <form asp-action="Index" class="d-flex w-50">
        <input class="form-control" placeholder="Tìm kiếm..." value="@ViewData["CurrentFilter"]" type="text"
            autocomplete="off" name="SearchString" />
        <select name="courseId" class="form-select mx-2" asp-items="ViewBag.CourseId">
            <option value="">-- Chọn lớp học --</option>
        </select>
        <button type="submit" class="btn btn-primary">Lọc</button>
    </form>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center align-middle" style="width: 10%;">
                Ảnh sinh viên 
            </th>
            <th class="align-middle" style="width: 15%;">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    @Html.DisplayNameFor(model => model[0].StudentId)
                </a>
            </th>
            <th class="align-middle" style="width: 15%;">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateCreatedSortParm"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    @Html.DisplayNameFor(model => model[0].StudentName)
                </a>
            </th>
            <th class="text-center align-middle" style="width: 15%;">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameCreatedSortParm"]"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    @Html.DisplayNameFor(model => model[0].DateOfBirth)
                </a>
            </th>
            <th class="text-center align-middle" style="width: 10%;">  
                @Html.DisplayNameFor(model => model[0].Gender)
            </th>
            <th class="text-center align-middle" style="width: 20%;">
                Thao tác
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center align-middle">
                    @if (!string.IsNullOrEmpty(item.ImagePath))
                    {
                        <img width="50" height="50" style="object-fit: cover;" src="@item.ImagePath"
                            alt="Image for @item.StudentId">
                    }
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.StudentName)
                </td>
                <td class="text-center align-middle">
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td class="text-center align-middle">
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td class="text-center align-middle">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-between">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex - 1)"
        asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-secondary @prevDisabled">
        <--
    </a>
    <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex + 1)"
        asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-secondary @nextDisabled">
        -->
    </a>
</div>
